<div class="h-screen w-full dark:bg-secondary bg-accent  red-hat-display">
  <nav class="h-[15vh] flex justify-between items-center fixed w-[95%] translate-x-[-50%] left-1/2">
    <div class="menu h-16 w-1/4 flex justify-start items-center cursor-pointer">
      <div class="h-full w-20 flex justify-around items-center flex-col">
        <span class="dark:bg-accent bg-secondary h-1 w-full"></span>
        <span class="dark:bg-accent bg-secondary h-1 w-full"></span>
      </div>
      <span class="uppercase ml-4 text-[3.5rem]  dark:text-accent text-secondary">Menu</span>
    </div>
    <div class="theme w-1/3 flex justify-end items-center">
      <div class="toggle-switch">
        <label class="switch-label border-[3px] border-secondary dark:border-accent ">
          <input type="checkbox" class="checkbox inset-0">
          <span (click)="toogleMode()" class="slider"></span>
        </label>
      </div>  
      
    </div>
  </nav>
 <div class="anim w-full h-full flex justify-center items-center">
  <h1 class="dark:text-accent text-[17rem] !font-[300] text-secondary">M&C</h1>
 </div>
</div>